.drop {
  display: flex;
  background-color: #e4e3e3;
  padding: 5px 20px;
  border-radius: 8px;
  border: none;
}

option {
  cursor: pointer;
  background-color: #e4e3e3;
  width: 100%;
  border-radius: 8px;
}
