.wallet-ctn {
  border: #ebebeb 1px solid;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
}

.wallet-ctn h3 {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  gap: 10px;
}

.wallet-ctn h3 span {
  font-weight: 400;
}

.wallet-ctn > span {
  font-size: 24px;
  font-weight: 300;
}
