.transaction-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.select-transaction {
  display: flex;
  justify-content: center;
  background-color: #e7e7e7;
  border-radius: 20px;
  padding: 5px;
  gap: 10px;
}

.transaction-title {
  flex: 1;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 0;

  &[data-focus-visible],
  &[data-selected] {
    background-color: #fff;
  }
}

Form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: #ebebeb 1px solid;
  border-radius: 8px;
  padding: 20px;
}

Form div {
  flex-basis: 100%;
}

button {
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #000000cc;
}

h3 {
  display: flex;
  flex-direction: column;
}

.exchange-form-title span {
  font-size: 15px;
  color: #808080;
}

.input {
  background-color: #e7e7e7;
  color: #808080;
  border: none;
  border-radius: 8px;
  padding: 8px 4px;
  flex: 1;
}

.input-ctn {
  display: flex;
  gap: 5px;
}

.swap-ico {
  position: absolute;
  top: 45%;
  left: 50%;
  border: 1px solid #e7e7e7;
  padding: 10px;
  border-radius: 8px;
}

.main-ctn {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.dept {
  display: flex;
  flex-direction: column;
}
