.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-icon {
  width: 64px;
  height: 64px;
  color: #80808080;
}

.title {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title span,
.user-name {
  font-size: 12px;
  letter-spacing: 0.03cm;
  color: #808080;
}

.balance-ctn {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 8px;
}

.balance-ctn h3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 24px;
}

.balance-ctn div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.balance-ctn div > span {
  font-size: 32px;
  font-weight: 300;
}

.balance-ctn h3 span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.balance-ctn h3 span:last-child {
  color: #808080;
  font-size: 15px;
  font-weight: 400;
}

.wallet-ctn {
  border: #ebebeb 1px solid;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
}

.wallet-ctn h3 {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  gap: 10px;
}

.wallet-ctn h3 span {
  font-weight: 400;
}

.wallet-ctn > span {
  font-size: 24px;
  font-weight: 300;
}

.transaction-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.select-transaction {
  display: flex;
  justify-content: center;
  background-color: #e7e7e7;
  border-radius: 20px;
  padding: 5px;
  gap: 10px;
}

.transaction-title {
  flex: 1;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 0;

  &[data-focus-visible],
  &[data-selected] {
    background-color: #fff;
  }
}

Form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: #ebebeb 1px solid;
  border-radius: 8px;
  padding: 20px;
}

Form div {
  flex-basis: 100%;
}

button {
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #000000cc;
}

h3 {
  display: flex;
  flex-direction: column;
}

.exchange-form-title span {
  font-size: 15px;
  color: #808080;
}

.input {
  background-color: #e7e7e7;
  color: #808080;
  border: none;
  border-radius: 8px;
  padding: 8px 4px;
  flex: 1;
}

.input-ctn {
  display: flex;
  gap: 5px;
}

.swap-ico {
  position: absolute;
  top: 45%;
  left: 50%;
  border: 1px solid #e7e7e7;
  padding: 10px;
  border-radius: 8px;
}

.main-ctn {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.dept {
  display: flex;
  flex-direction: column;
}

.drop {
  display: flex;
  background-color: #e4e3e3;
  padding: 5px 20px;
  border-radius: 8px;
  border: none;
}

option {
  cursor: pointer;
  background-color: #e4e3e3;
  width: 100%;
  border-radius: 8px;
}

h3 {
  font-weight: 400;
}

.current-exchange-rate {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #e7e7e7;
  border-radius: 8px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.rates {
  font-size: 12px;
  color: #2c2c2c;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
