h3 {
  font-weight: 400;
}

.current-exchange-rate {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #e7e7e7;
  border-radius: 8px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.rates {
  font-size: 12px;
  color: #2c2c2c;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
