.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-icon {
  width: 64px;
  height: 64px;
  color: #80808080;
}

.title {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title span,
.user-name {
  font-size: 12px;
  letter-spacing: 0.03cm;
  color: #808080;
}
