.balance-ctn {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 8px;
}

.balance-ctn h3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 24px;
}

.balance-ctn div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.balance-ctn div > span {
  font-size: 32px;
  font-weight: 300;
}

.balance-ctn h3 span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.balance-ctn h3 span:last-child {
  color: #808080;
  font-size: 15px;
  font-weight: 400;
}
